@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #fff;
  --background: #000;
}

/* CUSTOM SCROOL BAR */
/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #303030;
}

::-webkit-scrollbar-thumb {
  background: darkblue;
}

::-webkit-scrollbar-thumb:hover {
  background: blue;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
